#root {
    font-family: var(--vscode-editor-font-family);
    color: var(--vscode-foreground);
    line-height: 22px;
    white-space: nowrap;
}

p {
    font-family: var(--vscode-font-family);
}

#hex_view {
    height: 100vh;
}

.container {
    display: flex;
    cursor: default;
}

.row_wrap {
    flex-wrap: wrap;
}

.row_header {
    color: var(--vscode-editorLineNumber-foreground);
    margin-right: 22px;
}

.hex_body {
    margin-right: 22px;
}

.field {
    min-width: 22px;
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.deemphasized {
    color: var(--vscode-list-deemphasizedForeground);
}

.hovered {
    background-color: var(--vscode-list-hoverBackground);
}

.selected {
    background-color: var(--vscode-list-activeSelectionBackground);
}
